@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-900 text-slate-50 min-h-screen;
  font-family: 'Inter', system-ui, sans-serif;
}

input, button {
  font-family: inherit;
}
